# isort configuration

[isort]
py_version = 39
profile = black
src_paths = src,tester
skip_gitignore = True
skip_glob =
    *_pb2.py
    *_pb2.pyi
    *_pb2_grpc.py
known_third_party =
    faker
    httpx
    imgui
    keyring
    mediamtx
    mpv
    numpy
    ollama
    psutil
    pygame
    watchdog
    wsdiscovery
    yaml
